@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 d-flex flex-column mt-5">
        <h1 class="display-4">Welcome</h1>
        <p>
            The image on the right is being pulled in from this API: <a href="https://dog.ceo/dog-api.">https://dog.ceo/dog-api.</a>
        </p>
    </div>
    <div class="col-md-6">
        <img class="w-100" src="@Model.Message" alt="Random Dog Image from API" />
    </div>
</div>
